@using CommunityInvestment.Models.ViewModels
@model SearchFilterHeaderModel;
@{
}

@*City*@
@foreach (var city in @Model.CityList)
{
    var checkBoxId = "cityFilter" + city.CityId;
    var liId = "li" + city.Name;
    <li id="@liId">
        <div class="form-check dropdown-item px-4">
            <input class="form-check-input mx-auto cityListClass"
               type="checkbox"
               value=""
               id="@checkBoxId" />
            <label class="form-check-label ps-2" for="@city.Name">
                @city.Name
            </label>
        </div>
    </li>
}
